wandb
__pycache__
.vscode
notebooks
results/
*.ipynb_checkpoints
flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
evaluation/
annotation/
grpo_evaluation/
test_images/
mmcv/
gradio_interface.py
gradio_interface_grpo.py
run_gradio.sh
flow_grpo/temp_training.sh
flow_grpo/singleline.sh
flow_grpo/generate_vqa_questions.py